[submodule "vendor/bon"]
	path = vendor/bon
	url = https://github.com/EinScott/bon
[submodule "vendor/imgui-beef"]
	path = vendor/imgui-beef
	url = https://github.com/RogueMacro/imgui-beef
[submodule "Helper/FantyHelper/vendor/rlImGui"]
	path = Helper/FantyHelper/vendor/rlImGui
	url = https://github.com/raylib-extras/rlImGui
[submodule "vendor/glfw-beef"]
	path = vendor/glfw-beef
	url = https://github.com/MineGame159/glfw-beef
